@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700,900');
@import 'breakpoints.scss';

$box-shadow: 3px 6px 10px #888888;

// xs 
html{
	background-color: #f2f2f2;
	overflow: hidden;
}

.test{
	color: yellow;
	background-color: black;
}

#book{
	position: relative;
	// transform: translateY(-25%)
	// background: url('../img/background.png') no-repeat center center fixed;
	// -webkit-background-size: cover;
 // 	-moz-background-size: cover;
 // 	-o-background-size: cover;
 // 	background-size: cover;
}
.page{
	position: relative;
	width: 100vw;
	height: 100vh;
	overflow: hidden;
	// background-color: #00BFFF;
	// padding-top: 100px;
	
}

// .page:first-child{
// 	margin-top: 100px;
// }

.card{
	background-color: white;
	overflow: scroll;
	width: 70%;
	max-height: 50%;
	padding: 5%;
	margin: 0 auto;
	margin-top: 5em;
	margin-bottom: 0%;
	box-shadow: $box-shadow;

}

// .transparentCard{
// 	background-color: transparent;
// 	box-shadow: none;
// 	padding: 5%;
// 	padding-top: 0%;
// 	text-align: left;
// 	width: 80%;

// }

// .characterCard{
// 	background-color: white;
// 	overflow: scroll;
// 	width: 80%;
// 	max-height: 50%;
// 	// padding: 5%;
// 	margin: 0 auto;
// 	// margin-top: 100px;
// 	margin-bottom: 0%;
// 	box-shadow: $box-shadow;

// }
.active{
    // color: purple;
}

.button_wrap{
	position: absolute;	
	bottom: 5%;
	// right: 0%;
	// left: 50%;
	right: 10%;
	z-index: 10000;
	width: 500px;
	// display: inline-block;

	img{
		// display: inline-block;
		// float: left;
	}

	h2{
		display: inline-block;
		text-transform: uppercase;
		position: relative;
		width: 50%;
		vertical-align: text-bottom;
		margin-right: 5px;

	}
	#next{
		// display: inline-block;
		background-color: white;
		box-shadow: $box-shadow;
		// position: relative;
		border: 0;
		height: auto;
		width: 100px;
		display: inline-block;
		padding: 5px 5px 5px 5px;
		float: right;
		img{
			display: inline-block;
			width: 25px;
			margin-left: 10%;
			// float: right;
		}	
	}
	// #next:hover{
	// 	background-color: white;
	// }
	#prev{
		background-color: white;
		box-shadow: $box-shadow;

		position: relative;
		height: 4em;
		margin-right: 2em;
		border: 0em;
		height: auto;
		width: auto;
		padding: 5px 10px 5px 10px;
		display: inline-block;
		float: right;
		margin-right: 2em;
		img{
			display: inline-block;
			width: 25px;
		}	
	}
}


// small
@media (min-width: $sm-min){
	// .page{
	// 	width: 70%;
	// }

}

// medium
@media (min-width: $md-min){
	
	
}

// xs small
@media (min-width: $lg-min){
	// .page{
	// 	width: 60%;
	// }
}