@import url("https://fonts.googleapis.com/css?family=Lato:300,400,900");
@-ms-viewport {
  width: device-width; }

html {
  background-color: #f2f2f2;
  overflow: hidden; }

.test {
  color: yellow;
  background-color: black; }

#book {
  position: relative; }

.page {
  position: relative;
  width: 100vw;
  height: 100vh;
  overflow: hidden; }

.card {
  background-color: white;
  overflow: scroll;
  width: 60%;
  max-height: 50%;
  padding: 5%;
  margin: 0 auto;
  margin-top: 100px;
  margin-bottom: 0%;
  box-shadow: 3px 6px 10px #888888; }

.button_wrap {
  position: absolute;
  bottom: 5%;
  right: 15%;
  z-index: 10000;
  width: 500px; }
  .button_wrap h2 {
    display: inline-block;
    text-transform: uppercase;
    position: relative;
    width: 50%;
    vertical-align: text-bottom; }
  .button_wrap #next {
    background-color: white;
    box-shadow: 3px 6px 10px #888888;
    border: 0;
    height: auto;
    width: 100px;
    display: inline-block;
    padding: 5px 5px 5px 5px;
    float: right; }
    .button_wrap #next img {
      display: inline-block;
      width: 25px;
      margin-left: 10%; }
  .button_wrap #prev {
    background-color: white;
    box-shadow: 3px 6px 10px #888888;
    position: relative;
    height: 4em;
    margin-right: 2em;
    border: 0em;
    height: auto;
    width: auto;
    padding: 5px 10px 5px 10px;
    display: inline-block;
    float: right;
    margin-right: 2em; }
    .button_wrap #prev img {
      display: inline-block;
      width: 25px; }
