@import url("https://fonts.googleapis.com/css?family=Lato:300,400,900");
@-ms-viewport {
  width: device-width; }

html {
  background-color: #f2f2f2; }

.page {
  background-color: white;
  width: 80%;
  max-width: 1200px;
  margin: 0 auto;
  margin-bottom: 1em;
  margin-top: 1em;
  box-shadow: 0px 4px 10px  #888888;
  padding: 5%;
  color: black; }

.active {
  display: block;
  overflow-y: hidden;
  max-height: 500px;
  /* approximate max height */
  transition-property: all;
  transition-duration: .5s;
  transition-timing-function: cubic-bezier(0, 1, 0.5, 1); }

@media (min-width: 768px) {
  .page {
    width: 70%; } }

@media (min-width: 1200px) {
  .page {
    width: 60%; } }
