@import url("https://fonts.googleapis.com/css?family=Lato:300,400,900");
h1, h2, h3, h4, h5, h6, p, li {
  font-family: 'Lato', sans-serif; }

h2 {
  font-size: 2em;
  color: red; }

p {
  line-height: 2em; }

.dude {
  height: 200px; }

@media (max-width: 600px) {
  h2 {
    font-size: 6em; }
  p, li {
    font-size: 2em; } }
