@import url("https://fonts.googleapis.com/css?family=Lato:300,400,900");
@-ms-viewport {
  width: device-width; }

html {
  font-family: 'Lato', sans-serif; }

#next {
  background-color: white;
  color: blue;
  position: absolute;
  bottom: 20%;
  right: 15%;
  width: 7em;
  height: 4em;
  border-radius: 5px; }
