@import url('https://fonts.googleapis.com/css?family=Lato:300,400,900');
@import 'breakpoints.scss';

// xs 
html{
	font-family: 'Lato', sans-serif;
}

.button_wrap{
	position: absolute;
	bottom: 20%;
	right: 20%;
	#next{
		background-color: transparent;
		position: relative;
		border: 0;
		height: 4em;	
	}
	#prev{
		background-color: transparent;
		position: relative;
		height: 4em;
		margin-right: 2em;
		border: 0em;
	}
}


img{
	width: 100%;
}
// small
@media (min-width: $sm-min){
	

}

// medium
@media (min-width: $md-min){
	
	
}

// xs small
@media (min-width: $lg-min){
	
}